.search {
    position: relative;
    margin: 0 10px;
    &__input {
        outline: none;
        border-radius: 10px;
        padding: 10px 30px;
        width: 500px;
        font-size: 20px;
    }
    &__img {
        width: 25px;
        position: absolute;
        left: 3px;
        top: 13px;
    }
    &__close {
        width: 25px;
        position: absolute;
        right: 3px;
        top: 13px;
        cursor: pointer;
    }
    @media (max-width: 1200px) {
        &__input {
            width: 330px;
        }
    }
    @media (max-width: 960px) {
        order: 1;
        margin-top: 40px;
        margin-left: 20px;
        &__input {
            width: 600px;
        }
    }
    @media (max-width: 768px) {
        &__input {
            width: 400px;
        }
    }
}
